page-home {
    .stats-container {
        background: #FFF;
        max-width: 240px;
        margin: auto;
        .display-number {
            margin: 16px 0;
            &.large {
                margin: 32px 0;
            }
        }
    }
    .progress-bar {
        margin-top:32px;
        width:100%;
        height:8px;
        background: rgba(0,0,0,0.1);
        .fill {
            height:100%;
            background: rgba(0,0,0,0.2);
        }
    }
    .icon.ion-md-alert {
        font-size:32px;
        padding:16px;
        position:absolute;
        left:0;
        top:0;
    }
}
