page-home {
    .scroll-content {
        padding-bottom: 40px;
    }
    .rig-alert {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        line-height: 40px;
        background-color: color($colors, danger);
        color: #FFF;
        text-align: center;
    }
    .stats-container {
        background: #FFF;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .display-number {
            text-align: right;
        }
        .row:first-of-type {
            margin:16px 0;
        }
        .row+.row {
            margin-top: 8px;
        }
        .row:last-of-type {
            margin-top:16px;
        }
    }
    .update-status {
        opacity: 0.6;
        .progress-bar {
            width: 100%;
            height: 8px;
            background: color($colors, text-light);
            .fill {
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
            }
        }
    }
    .last-update-tag {
        font-size: 10px;
        line-height: 10px;
        color: color($colors, text-light);
        margin-right: 10px;
        margin-top: 4px;
    }
    .icon.ion-ios-wifi {
        font-size: 32px;
        padding: 16px;
        position: absolute;
        left: 0;
        top: 0;
        color: color($colors, text-primary);
    }
}