<!--
  <ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content>
  <ion-list *ngIf="settings">
    <ion-item>
      <ion-label>Enable silent mode</ion-label>
      <ion-toggle [(ngModel)]="settings.silentMode" (ionChange)="updateSettings()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Display currency</ion-label>
      <ion-select [(ngModel)]="settings.currency" (ionChange)="updateSettings()">
        <ion-option *ngFor="let c of availableCurrencies" value="{{c}}">{{c}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-item text-wrap (click)="openEditAddressModal()">
      <h2>Wallet address:</h2>
      <h3>{{settings.address}}</h3>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>