.display-number {
    .value,
    .tag {
        display: block;
        width: 100%;
        text-align: right;
    }
    .value {
        font-size: 32px;
        line-height:  32px;
        color: color($colors, text-primary);
    }
    .tag {
        color: color($colors, text-light);
        text-transform: uppercase;
    }
    &.large {
        .value {
            font-size: 64px;
            line-height:  64px;
        }
    }
}
.item-input .label-md,
.item-select .label-md, 
.item-datetime .label-md {
        color: color($colors, text-primary);
}