.display-number {
    .value {
        font-size: 32px;
        line-height: 32px;
        color: color($colors, text-primary);
    }
    &.large {
        .value {
            font-size: 72px;
            font-weight: 300;
            line-height: 64px;
        }
    }
    &.small {
        .value {
            font-size: 24px;
            line-height: 24px;
        }
    }
    &.smallest {
        padding-top: 0;
        padding-bottom: 0;
        .value {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.display-number-tag {
    font-size: 16px;
    line-height: 16px;
    color: color($colors, text-light);
    text-transform: uppercase;
    font-weight: 300;
    &.smallest {
        font-size: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md {
    color: color($colors, text-primary);
}

.alert {
    .show-alert {
        background: color($colors, danger);
        .display-number .value,
        .display-number-tag {
            color: color($colors, text-dark-night);
        }
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
}